#con{
    width: 100%;
    background-color: #f4fdf5;
    height:1000px;
}
#skill{

    width: 1200px;
    height:800px;
    margin-right: auto;
    margin-left: auto;



}
#skill .skill_left{
    position: relative;
    width: 900px;
    height:800px;
    float: left;
    background-repeat:no-repeat;
    background-size:100%;
    background-color: #FFFFFF;

}
#skill .skill_left .evaluates{
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    min-height: 100px;
    max-height: 300px;

}
.evaluateinput{
    padding: 0;
    width: 100%;
    min-height: 50px;
}
#skill .skill_right{
    float: left;
    background-color: #FFFFFF;
    width: 290px;
    height:800px;
}
.skill_right ul{
    padding-top: 50px;
    padding-left: 50px;
    list-style-type: none;
}
.skill_right ul li{
    padding-left: 10px;
    background: url("../images/sanjiao.jpg") no-repeat 0px 10px;
    width: 100%;
    height: 24px;
    line-height: 24px;
    margin-top: 10px;
    text-indent: 12px;
    overflow: hidden;
}

.skill_right ul li a {
    font-size: 12px;
    color: #3D97CB;
    text-decoration: none;
}
.bordertr{
    border-top: #b7b7b7 1px solid;
    display: block;
    width: 100%;
    height: 20px;
    background-color: #f4fdf5;
}
.bordertr span{
    color: #a4a4a4;
    font-size: 12px;
}
.evalzanshi{

}














