<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>仓库管理</title>
    <link  type="text/css" rel="stylesheet"  href="__ADMIN__/css/style.css"/>
    <link  type="text/css" rel="stylesheet"  href="__ADMIN__/css/index.css"/>
    <link  type="text/css" rel="stylesheet"  href="__ADMIN__/css/shelves.css"/>
    <script  src="__ADMIN__/js/jquery.min.js"></script>
    <link  type="text/css" rel="stylesheet"  href="__USER__/js/layui/css/layui.css"media="all">
    <script  src="__USER__/js/jquery.min.js"></script>
    <script  src="__USER__/js/jquery.js"></script>
    <script  src="__USER__/js/layui/layui.all.js"></script>
    <!-- 动态菜单JS -->
    <script type="text/javascript"  src="__ADMIN__/js/menu.js"></script>
</head>
<script>
    layui.use('form', function(){
        var form = layui.form;

        //各种基于事件的操作，下面会有进一步介绍
    });
</script>

<body>
<div class="container">
    <div class="cont-top">
        <div class="companyname">个性服饰后台管理</div>
        <div class="cont-top-middle">
            <ul>
                <li>
                    <a href="#">
                        <div class="top-middle">
                            <img src="__ADMIN__/img/icon.png">
                        </div>
                        <div class="top-txt">购物单</div>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <div class="top-middle">
                            <img src="__ADMIN__/img/icon1.png">
                        </div>
                        <div class="top-txt">收款单</div>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <div class="top-middle">
                            <img src="__ADMIN__/img/icon1.png">
                        </div>
                        <div class="top-txt">收款单</div>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <div class="top-middle">
                            <img src="__ADMIN__/img/icon1.png">
                        </div>
                        <div class="top-txt">收款单</div>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <div class="top-middle">
                            <img src="__ADMIN__/img/icon1.png">
                        </div>
                        <div class="top-txt">收款单</div>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <div class="top-middle">
                            <img src="__ADMIN__/img/icon1.png">
                        </div>
                        <div class="top-txt">收款单</div>
                    </a>
                </li>

            </ul>
        </div>
        <div class="cont-top-rg">
            <ul class="advanced-menu">
                <li>
                    <div class="top-search">
                        <div class="t-s-l">
                            <span class="left-line"></span>
                            <input type="text" value="搜库存" class="search-type" disabled>
                            <span class="triangle-bottom"></span>
                        </div>
                        <div class="t-s-l">
                            <input type="text" placeholder="请输入商品编码或名称" class="search-dt" autocomplete="off">
                            <span class="right-line"></span>
                            <span class="right-icon"><img src="__ADMIN__/img/search-icon.png"></span>
                        </div>
                    </div>
                </li>

                <li class="default" style="position:relative;">
                    <span class="user"><img src="__ADMIN__/img/user.png"></span>
                    <a  href="#" class="special"> 小丫头<i><img src="__ADMIN__/img/xl.png"></i></a>
                    <div class="drop-down-wrap" style="width:180px;left:15px;display: none;">
                        <div class="drop-down">
                            <span class="triangle-border"></span>
                            <span class="triangle-bg"></span>
                            <ul class="del-ul">
                                <li><a href="#" class="hot">首耀照明</a></li>
                                <li><a href="#">小丫头</a></li>
                                <li><a href="#">操作日志</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="advanced-menu">
                <li>
                    <a href="#"><img  src="__ADMIN__/img/top-icon1.png"></a>
                </li>
                <li>
                    <a href="#"><img  src="__ADMIN__/img/top-icon2.png"></a>
                </li>
                <li>
                    <a href="#"><img  src="__ADMIN__/img/top-icon3.png"></a>
                </li>
                <li>
                    <a href="#"><img  src="__ADMIN__/img/top-icon4.png"></a>
                </li>
                <li>
                    <a href="{:U('Login/logout')}"><img  src="__ADMIN__/img/top-icon5.png" onclick="return confirm('你确定要退出系统吗？')"></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="left-menu" style="height:949px;">
        <div class="menu-list">
            <ul>


                <li class="menu-list-02">
                    <a  href="{:U('Product/product')}">
                        <p class="fumenu">产品管理</p>
                        <img class="xiala" src="__ADMIN__/img/xiala.png" />
                    </a>
                    <div class="list-p">

                    </div>
                </li>

                <li class="menu-list-01" >
                    <a href="{:U('Order/goods_order')}">
                        <p class="fumenu">订单管理</p>
                        <img class="xiala" src="__ADMIN__/img/xiala.png" />
                    </a>
                    <div class="list-p">
                        <p class="zcd" id="zcd8">下单账户</p>

                    </div>
                </li>

                <li class="menu-list-01" >
                    <a href="{:U('User/user')}">
                        <p class="fumenu">客户管理</p>
                        <img class="xiala" src="__ADMIN__/img/xiala.png" />
                    </a>
                    <div class="list-p">

                    </div>
                </li>

                <li class="menu-list-02">
                    <a href="#">
                        <p class="fumenu">员工管理</p>
                        <img class="xiala" src="__ADMIN__/img/xiala.png" />
                    </a>
                    <div class="list-p">
                        <a href="{:U('Manager/manager')}"><p class="zcd" >全部管理账号</p></a>
                    </div>
                </li><li class="menu-list-02">
                <a href="#">
                    <p class="fumenu">推文管理</p>
                    <img class="xiala" src="__ADMIN__/img/xiala.png" />
                </a>
                <div class="list-p">
                    <a href="{:U('Article/all_article')}"><p class="zcd" >全部推文</p></a>
                    <a href="{:U('Article/add_article')}"><p class="zcd" >发布推文</p></a>
                </div>
            </li>
            </ul>
        </div>
    </div>

    <div class="right-menu">
        <div class="main-hd">
            <div class="page-teb" >
                            <div class="l-tab-links">
                                <ul style="left:0;">
                                    <li class="l-select">
                                        <a href="index.php" style="padding:0px 25px;">首页</a>
                                    </li>
                                    <li class="l-select">
                                        <a href="#">商品上架</a>
                                        <span class="close"></span>
                                    </li>
                                </ul>
                            </div>
                <div class="formoverlay"></div>
                <table cellpadding="0" cellspacing="0" border="0" class="formborder" style="z-index:99;position:absolute;left:0px;top:40px;width:100%; display: block;" >
                    <tbody>

                    <tr>
                        <td  align="left" valign="top" style="width:1200px;height:auto;background:#fff;" >
                            <div class="formcontentsize" style="width:auto;height:auto;"></div>
                            <!--上架信息   开始-->
                            <form method="post" method="post" enctype="multipart/form-data" id="myform" >
                                <div class="layoutitem">
                                    <div class="layout-tit">
                                        商品上架信息
                                    </div>
                                    <div class="layout-xx">
                                        <volist name="data" id="d">
                                        <ul>
                                            <li>
                                                <div class="item-input">
                                                    <label class="item-label"> 商品类别</label>
                                                    <select class="layoutitemcon" name="cid">
                                                        <option value="{$d.cid}" checked>{$d.classify}</option>
                                                        <volist name="cate" id="c">

                                                        <option value="{$c.id}">{$c.classify}</option>
                                                        </volist>
                                                    </select>


                                                </div>
                                                <div class="item-input layui-input-block">
                                                    <label class="item-label">商品名称</label>
                                                    <input type="text" class="layoutitemcon" maxlength="50" name="goodsName" value="{$d.goodsname}" lay-verify="required">
                                                </div>
                                            </li>

                                            <li>
                                                <div class="item-input">
                                                    <label class="item-label"> 成本价</label>
                                                    <input type="number" class="layoutitemcon" maxlength="50" name="cost" placeholder="元" value="{$d.cost}">
                                                </div>
                                                <div class="item-input">
                                                    <label class="item-label"> 店铺价</label>
                                                    <input type="number" class="layoutitemcon" maxlength="50" name="price" value="{$d.price}">
                                                </div>
                                            </li>
                                            <li>
                                                <div class="item-input">
                                                    <label class="item-label"> 关键词</label>
                                                    <input type="text" class="layoutitemcon" maxlength="50" name="keywords" value="{$d.keywords}">
                                                </div>
                                                <div class="item-input">
                                                    <label class="item-label">商品描述</label>
                                                    <input type="text" class="layoutitemcon" maxlength="50" name="describe" value="{$d.describe}">
                                                </div>
                                            </li>
                                            <li>
                                                <div class="item-input">
                                                    <label class="item-label">颜色</label>
                                                    <input type="text" class="layoutitemcon" maxlength="50" name="color" value="{$color}" placeholder="多种颜色用空格隔开">
                                                </div>
                                                <div class="item-input">
                                                    <label class="item-label">库存</label>
                                                    <input type="number" class="layoutitemcon" maxlength="50" name="skock" value="{$d.skock}" >
                                                </div>
                                            </li>
                                            <li>
                                                <div class="item-input">
                                                    <label class="item-label">类别标识</label>
                                                    <input type="text" class="layoutitemcon" maxlength="50" name="identify" value="{$d.identify}" placeholder="可以为空" >
                                                </div>
                                            </li>
                                            <li>
                                                <div class="item-input">
                                                    <label class="item-label">是否上架：</label>
                                                    <if condition="$d.status eq '1'">
                                                    <label><input name="status" type="radio" value="1"  checked>是 </label>
                                                    <else/>
                                                    <label><input name="status" type="radio" value="1" >是 </label>
                                                </if>
                                                    <if condition="$d.status eq '0'">
                                                        <label><input name="status" type="radio" value="0" checked>否 </label>
                                                        <else/>
                                                        <label><input name="status" type="radio" value="0" />否 </label>
                                                    </if>




                                                </div>
                                            </li>
                                            <li>
                                                <if condition=" $d.img eq ' '">
                                                    <div class="item-input1">
                                                    <label class="item-label"> 商品主图</label>
                                                    <input type="file" name="photo[]" >

                                                </div>
                                                    <else/><div class="item-input1">
                                                    <label class="item-label"> 商品主图</label>

                                                    <img src="__USER__/{$d.img}" width="50" height="50" style="margin-left: 20px;margin-right: 20px;" rel="{$d.id},{$d.img}">
                                                    <a href="javascript:;"><span class="zhuimg" rel="{$d.id},{$d.img},1">更换图片</span></a>


                                                </div>
                                                </if>


                                            </li>
                                            <li>

                                                <div class="item-input1">
                                                    <label class="item-label"> 商品轮播图</label>
                                                    <volist name="img" id="i">


                                                            <img src="__USER__/{$i.img}" width="50" height="50" style="margin-left: 20px;margin-right: 20px;" rel="{$i.id},{$i.img}">
                                                            <a href="javascript:;"> <span class="zhuimg" rel="{$i.id},{$i.img},2">删除</span></a>

                                                    </volist>
                                                    <input type="file" id="fileimg" name="photo[]" multiple >
                                                </div>

                                            </li>

                                        </ul>
                                        </volist>
                                    </div>
                                </div>

                                <div class="layoutitem-add">
                                    <!--<a href="#" class="add"><input type="submit" class="add" value="添加"></a>-->
                                    <button class="layui-btn addtijiao" type="button">立即提交</button>
                                    <a href="{:U('Product/product')}" class="tc">退出</a>
                                </div>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        <script>

            $('.addtijiao').click(function () {
                var myform = document.getElementById("myform");   //获得form表单对象
                for(var i=1;i<myform.length-3;i++){               //循环form表单
                    if(i==8){
                        continue;
                    }
                    if(myform.elements[i].value==""){          //判断每一个元素是否为空
                        alert(myform.elements[i].title+"不能为空！");
                        myform.elements[i].focus();             //元素获得焦点
                        return ;
                    }

                }
                myform.submit();

            });

            $(document).ready(function () {
                $('.zhuimg').click(function () {
                    var info = $(this).attr("rel");
                    //alert(info);
                    $.post('{:U("Product/delFile")}',{info:info},function (result) {
                       //alert(JSON.stringify(result));
                        if(result){

                            window.location.reload();
                            layer.msg('删除成功');
                        }else{
                            layer.msg('删除失败');
                        }

                    })

                });
                //响应文件添加成功事件

                // $("#fileimg").change(function(){
                //     //创建FormData对象
                //     var data = new FormData();
                //     data.append("file", $(this).get(0).files[0]);
                //     //发送数据
                //     $.ajax({
                //         url:'{:U("Product/uploadimg")}', /*php处理文件*/
                //         type:'POST',  /*提交方式*/
                //         data:data,
                //         cache: false,
                //         contentType: false,        /*不可缺*/
                //         processData: false,
                //         dataType:'json',/*不可缺*/
                //         success:function(data){
                //             data = $(data).html();        /*转格式*/
                //             alert(data);
                //
                //
                //         },
                //         error:function(){
                //             alert('上传出错');
                //         }
                //     });
                // });


            })
        </script>


            <!--弹窗 管理开始-->



                        </div>
                    </div>
                </div>

</body>
</html>
